body {
    background-color: #ddd;
    font-family: 'Helvetica Neue';
    line-height: 1.5;
    margin: 0 auto;
}

header {
    background-color: darkblue;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    overflow: hidden;
    text-align: center;
    background-color: rgb(181, 181, 181);
}

nav ul li {
    display: inline-block;
    margin: 0px 20px;
}

nav button {
    border: none;
    padding: 10px;
    outline: none;
    background-color: inherit;
    height: 40px;
    margin: 0;
}

nav button:hover {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

button.buttonActive {
    font-weight: bold;
    color: blue;
}

main {
    background-color: white;
    padding: 0 20px;
    border-radius: 10px;
    color: #444;
    width: 60%;
    position: absolute;
    left: 50%;
    margin: 10px;
    transform: translate(-50%);
}

main h2 {
    text-align: center;
}

.tabs section {
    display: none;
}


section.tabActive {
    display: block;
}